<p>
  Displaying {{ questions.length }} questions.
</p>
 
<table>
  <thead>
  <tr>
    <th data-field="name">Titulo</th>
    <th data-field="name">Texto</th>
  </tr>
  </thead>
 
  <tbody>
    <tr *ngFor="let q of questions">
      <td>{{ q.title }}</td>
      <td>{{ q.text }}</td>
 
      <td>
        <a [routerLink]="['/questions', q.id]">
          Editar
        </a>
      </td>
      <td>
        <a (click)="deleteQuestion(q)" href="">
          Deletar
        </a>
      </td>
    </tr>
  </tbody>
</table>
 
<div style="bottom: 45px; right: 24px;">
  <a routerLink="/questions/new">
    Novo
  </a>
</div>